*{
    box-sizing: border-box;
    margin: 0;
}
.parent{
    background-color: rgba(0, 0, 0, 0.514);
    width:700px;
    height: auto;
    position: fixed;
    padding: 5px;
}

.child{
    background-color: black;
    width:127px;
    height: 200px;
    float: left;
    margin: 5px;
    

}
.child div{
    color: white;
    font-size: 10px;
}
#text1{
    text-align: left;
    float: left;
}
#per{
    color: red;
    text-align: right;
}
