@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
a{
    color: #c3cbd1;
    text-decoration: none;
}
body{
    background-color: #5383e8;
}

.header{
    height: 90px;
    background-color: rgb(44, 38, 64);
    display: flex;
    justify-content: center;
}
.header a img{
    height: 90px;
}

.nav1{
    height: 40px;
    background-color: #232f46;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 300; 
    font-size: 12px;  
    flex-wrap: wrap;
    width: 100vmax;
}
.nav1 ul{
    padding: 0;
    float:left;
    width: 1200px;
}
.nav1 ul li{
    display: inline;
    float: left;
    height: 40PX;
    margin: 0;
    padding: 0px 12px;
}
.nav1 a div{
    margin: 3px 0;
    height: 34px;
    line-height: 34px;
    padding-right: 6px;
}
.nav1 a:hover div{
    background-color: rgba(47, 67, 110, 147);
    border-radius: 5px;
}

.other img{
    margin: 6px;
    height: 24px;
    width: 24px;
    float:left ;
    line-height: 34px;
    
}
.nav1 #opgg{
    background-color: #5383e8;
}
.nav1 #opgg img{
    width: 65px;
    height: 16px;
}
.nav1 #lol{
    background-color: #5383e8;
    color: whitesmoke;
}
.lanLogin{
    word-break: keep-all;
    display: flex;
}
#lan{
    background-color: #232f46;
    border: none;
    color: #c3cbd1;
    font-size: 13px;
    font-weight: 400;
}
.lanLogin img{
    position: relative;
    bottom:-2px;
    margin: 6px;
    height: 24px;
    width: 24px;
    float:left ;
}
#login{
    display: inline-block;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    line-height: 26px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    background: #5383e8;
    text-decoration: none;
    margin: 7px 50px 7px 0px;
}
#beta{
float: left;
left: 0;
top: -2px;
content: "Beta";
padding: 0 6px;
color: #28344e;
background-color: #ffb900;
border-radius: 8px;
line-height: 17px;
font-size: 11px;
height: 16px;
text-align: center;
}
.nav2{
    height: 48px;
    line-height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-weight: 300;
    font-size: 15px;
    flex-wrap: wrap;
    margin: 0px 100px;
    width: 100vmax;
}
.nav2 ul li{
    display: inline;
    float: left;
    margin-left: 24px; 
    height: 48px;
}
#home{
    border-bottom: solid whitesmoke 2px;
}
#home div{
    color: whitesmoke;
}

.nav2 li:hover {   
    border-bottom: solid whitesmoke 2px;
    color: whitesmoke;
}
.nav2 a:hover{
    color: whitesmoke;
}
.nav2 .other:nth-child(3) a{
    color: turquoise;
}
.nav2 .other:nth-child(4) a{
    color: turquoise;
}
.nav3{
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 40px;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    width: 100vmax;
}
.nav3 ul{
    display: inline;
    margin-left: 291px;
}
.nav3 ul li{
    display: inline;
}
.nav3 a{
    color: whitesmoke;
}
.nav3 a:hover{
    border-bottom: solid whitesmoke 1px;
    color: whitesmoke;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-12{
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.mainLogo{
    padding: 32px 0px 24px;
}
.searchbox{
    background-color: white;
    border-radius: 2px;
}
#searchPlayer{
    width: 624px;
    background-color: none;
    padding: 15px 150px 18px 17px;
    border:none;
    font-size: 14px;
    outline: none;
    color: #9b9b9b;
}
#lan2{
    margin: 10px 10px 0 0;
    height: 20px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1;
    background-color: #788185;
    color: white;

}
#searchSumit{
    width: 50px;
    height: 30px;
    font-family: 'Gaegu', cursive;
    color: white;
    background-color: rgba(0, 169, 255);
    font-weight: 900;
    box-shadow: none;
    border: none;
    font-size: 20px;
    margin-right:10px;
    border-radius: 2px;
}
.adBox{
    margin-top: 52px;
    height: 250px;
    width: 970px;
    background-color: white;
}
.board{
    margin-top: 52px;
    width: 1078px;
    background-color: white;
    padding-bottom: 8px;
}
.board a{
    color: black;
}
.board .title{
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: black;
    font-weight: bold;
}

.board .leftBox{
    width: 539px;
    border-right: #f0f0f0 solid 1px;
    float: left;
}

.board .list{
    border-top: #f0f0f0 solid 1px;
    height: 68px;
    display: flex;
    flex-wrap: nowrap;
}

.list .list-num{
    width: 55px;
    line-height: 68px;
    text-align: center;
    
}
.list .list-num span{
    color: #1ab80c;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
}
.list .list-img{
    width: 100px;
    height: 62px;
    margin-top: 2.5px;
}
.list .list-img img{
    height: 62px
    
}
.list-content{
    width: 384px;
    height: 68px;
}
.list-title{
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 300;
}
.list-title em{
    font-style: normal;
    color: #0475b8;
    font-weight: bold;
}
.list-user{
    margin: 6px 0px 0;
    color: #879292;
    font-size: 12px;
}
.list-user span{
    margin-right: 10px;
}
.footer{
    width: 1080px;
    margin:20px 0 30px 0;
    color: whitesmoke;
    font-size: 11px;
    margin-bottom: 30px;
}

.footer ul{
    font-size: 12px;
    font-weight: 700;
    padding-left: 0;
}
.footer ul li{
    display: inline;
    padding-right: 10px;
}

.footer a{
    color: whitesmoke;
}
.footer a:hover {   
    border-bottom: solid whitesmoke 2px;
    color: whitesmoke;
}
.copyright{
    width: 1000px;
    position: relative;
}
.snsbox{
 margin-left: 987px;
}

